In [1]:
# editing walkability dataset
import pandas as pd
import numpy as np

df = pd.read_csv('EPA_Walkability.csv')

In [2]:
df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05

In [3]:
new = df[['NatWalkInd', 'STATEFP', 'COUNTYFP', 'D4A', 'TotEmp', 'TotPop', 'D2A_JPHH', 'D5AR', 'CBSA_POP', 'CBSA_EMP','Pct_AO0', 'D4C', 'Pct_AO1','Pct_AO2p','D3APO','D3AAO','D4D']]
new.corr()

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D
NatWalkInd,1.000000,-0.134779,-0.066454,0.832707,0.127034,-0.030031,0.015446,0.491300,0.366214,0.368178,0.323232,0.712516,0.322631,-0.377165,0.690991,0.148939,0.712866
STATEFP,-0.134779,1.000000,0.216324,-0.134578,-0.015501,-0.048606,-0.000392,-0.020318,-0.062059,-0.061690,0.054730,-0.110906,-0.012387,-0.050742,-0.084607,-0.033611,-0.109459
COUNTYFP,-0.066454,0.216324,1.000000,-0.083639,0.003627,0.011567,0.001160,-0.075078,-0.108830,-0.109154,-0.028440,-0.093347,0.012567,0.015195,-0.029250,0.018486,-0.094072
D4A,0.832707,-0.134578,-0.083639,1.000000,0.063529,-0.053992,0.012515,0.508190,0.374956,0.375290,0.296671,0.825678,0.237801,-0.329760,0.508039,0.137619,0.826264
TotEmp,0.127034,-0.015501,0.003627,0.063529,1.000000,0.118002,0.185175,0.062681,0.023799,0.024988,0.059531,0.094480,0.071493,-0.094047,-0.010764,0.136982,0.094996
TotPop,-0.030031,-0.048606,0.011567,-0.053992,0.118002,1.000000,-0.009270,-0.013203,0.030174,0.026742,-0.108947,0.007878,-0.114681,0.182954,-0.076467,0.029152,0.007130
D2A_JPHH,0.015446,-0.000392,0.001160,0.012515,0.185175,-0.009270,1.000000,0.012610,0.005320,0.005488,0.011008,0.018461,0.012023,-0.013258,0.010163,0.022270,0.018580
D5AR,0.491300,-0.020318,-0.075078,0.508190,0.062681,-0.013203,0.012610,1.000000,0.794525,0.797659,0.468131,0.484951,0.089297,-0.341278,0.327652,0.168936,0.494399
CBSA_POP,0.366214,-0.062059,-0.108830,0.374956,0.023799,0.030174,0.005320,0.794525,1.000000,0.998440,0.306232,0.374718,-0.013838,-0.187336,0.259162,0.099134,0.381313
CBSA_EMP,0.368178,-0.061690,-0.109154,0.375290,0.024988,0.026742,0.005488,0.797659,0.998440,1.000000,0.305712,0.375838,-0.016723,-0.184832,0.256342,0.097126,0.382456
Pct_AO0,0.323232,0.054730,-0.028440,0.296671,0.059531,-0.108947,0.011008,0.468131,0.306232,0.305712,1.000000,0.256174,0.129805,-0.680834,0.178915,0.079007,0.267130
D4C,0.712516,-0.110906,-0.093347,0.825678,0.094480,0.007878,0.018461,0.484951,0.374718,0.375838,0.256174,1.000000,0.190602,-0.273825,0.423215,0.138992,0.999668
Pct_AO1,0.322631,-0.012387,0.012567,0.237801,0.071493,-0.114681,0.012023,0.089297,-0.013838,-0.016723,0.129805,0.190602,1.000000,-0.683824,0.272461,0.086938,0.189147
Pct_AO2p,-0.377165,-0.050742,0.015195,-0.329760,-0.094047,0.182954,-0.013258,-0.341278,-0.187336,-0.184832,-0.680834,-0.273825,-0.683824,1.000000,-0.272773,-0.107599,-0.279681
D3APO,0.690991,-0.084607,-0.029250,0.508039,-0.010764,-0.076467,0.010163,0.327652,0.259162,0.256342,0.178915,0.423215,0.272461,-0.272773,1.000000,0.039293,0.421719
D3AAO,0.148939,-0.033611,0.018486,0.137619,0.136982,0.029152,0.022270,0.168936,0.099134,0.097126,0.079007,0.138992,0.086938,-0.107599,0.039293,1.000000,0.140052
D4D,0.712866,-0.109459,-0.094072,0.826264,0.094996,0.007130,0.018580,0.494399,0.381313,0.382456,0.267130,0.999668,0.189147,-0.279681,0.421719,0.140052,1.000000

In [4]:
new

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D
0,14.000000,48,113,362.10,66,1202,0.156028,433601,7189384,3545715,0.163121,4.33,0.092199,0.744681,12.879623,0.000000,37.654717
1,10.833333,48,113,718.84,25,710,0.061125,386504,7189384,3545715,0.000000,4.33,0.410758,0.589242,19.278747,0.755137,23.126113
2,8.333333,48,113,398.31,0,737,0.000000,404573,7189384,3545715,0.057751,3.00,0.434650,0.507599,5.470714,6.128365,72.818150
3,15.666667,48,113,386.24,253,904,0.658854,423099,7189384,3545715,0.000000,6.67,0.111979,0.888021,20.646233,2.208594,35.853984
4,10.166667,48,113,638.37,32,948,0.093294,335700,7189384,3545715,0.014577,6.67,0.195335,0.790087,16.592921,2.289659,25.121345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,7.333333,78,30,-99999.00,0,1471,0.000000,0,0,0,0.000000,-99999.00,0.000000,0.000000,33.948142,0.000000,-99999.000000
220736,7.333333,78,30,-99999.00,0,940,0.000000,0,0,0,0.000000,-99999.00,0.000000,0.000000,39.675163,0.000000,-99999.000000
220737,7.333333,78,30,-99999.00,0,878,0.000000,0,0,0,0.000000,-99999.00,0.000000,0.000000,32.111446,0.000000,-99999.000000
220738,4.000000,78,30,-99999.00,0,1278,0.000000,0,0,0,0.000000,-99999.00,0.000000,0.000000,14.317255,0.000000,-99999.000000
220739,4.666667,78,30,-99999.00,0,1640,0.000000,0,0,0,0.000000,-99999.00,0.000000,0.000000,24.809100,0.000000,-99999.000000

In [5]:
new.isna().sum()

NatWalkInd    0
STATEFP       0
COUNTYFP      0
D4A           0
TotEmp        0
TotPop        0
D2A_JPHH      0
D5AR          0
CBSA_POP      0
CBSA_EMP      0
Pct_AO0       0
D4C           0
Pct_AO1       0
Pct_AO2p      0
D3APO         0
D3AAO         0
D4D           1
dtype: int64

In [6]:
new = new.replace(-99999.00, np.nan)
new = new.replace(-99999, np.nan)
new.isna().sum()

NatWalkInd         0
STATEFP            0
COUNTYFP           0
D4A           126544
TotEmp             0
TotPop             0
D2A_JPHH           0
D5AR               0
CBSA_POP           0
CBSA_EMP           0
Pct_AO0            0
D4C           119319
Pct_AO1            0
Pct_AO2p           0
D3APO              0
D3AAO              0
D4D           119319
dtype: int64

In [7]:
new

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D
0,14.000000,48,113,362.10,66,1202,0.156028,433601,7189384,3545715,0.163121,4.33,0.092199,0.744681,12.879623,0.000000,37.654717
1,10.833333,48,113,718.84,25,710,0.061125,386504,7189384,3545715,0.000000,4.33,0.410758,0.589242,19.278747,0.755137,23.126113
2,8.333333,48,113,398.31,0,737,0.000000,404573,7189384,3545715,0.057751,3.00,0.434650,0.507599,5.470714,6.128365,72.818150
3,15.666667,48,113,386.24,253,904,0.658854,423099,7189384,3545715,0.000000,6.67,0.111979,0.888021,20.646233,2.208594,35.853984
4,10.166667,48,113,638.37,32,948,0.093294,335700,7189384,3545715,0.014577,6.67,0.195335,0.790087,16.592921,2.289659,25.121345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,7.333333,78,30,NaN,0,1471,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000,33.948142,0.000000,NaN
220736,7.333333,78,30,NaN,0,940,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000,39.675163,0.000000,NaN
220737,7.333333,78,30,NaN,0,878,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000,32.111446,0.000000,NaN
220738,4.000000,78,30,NaN,0,1278,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000,14.317255,0.000000,NaN
220739,4.666667,78,30,NaN,0,1640,0.000000,0,0,0,0.000000,NaN,0.000000,0.000000,24.809100,0.000000,NaN

In [8]:
new.dtypes

NatWalkInd    float64
STATEFP         int64
COUNTYFP        int64
D4A           float64
TotEmp          int64
TotPop          int64
D2A_JPHH      float64
D5AR            int64
CBSA_POP        int64
CBSA_EMP        int64
Pct_AO0       float64
D4C           float64
Pct_AO1       float64
Pct_AO2p      float64
D3APO         float64
D3AAO         float64
D4D           float64
dtype: object

In [9]:
new.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D
count,220740.00000,220740.00000,220740.00000,94196.00000,220740.00000,220740.00000,220740.00000,220740.00000,220740.00000,220740.00000,220740.00000,101421.00000,220740.00000,220740.00000,220740.00000,220740.00000,101421.00000
mean,9.54163,28.62319,85.69745,454.12806,639.10649,1479.86380,1.76885,103061.80113,3607329.47015,1683333.67430,0.09287,14.61201,0.32823,0.56994,11.81612,0.98578,380.71419
std,4.37395,16.38607,98.81895,280.50847,2021.36034,987.86224,38.59017,153100.39820,5219924.79427,2478565.94003,0.13602,31.42927,0.15198,0.21978,8.89343,2.40585,1923.43589
min,1.00000,1.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.33000,0.00000,0.00000,0.00000,0.00000,0.00004
25%,5.83333,13.00000,29.00000,242.74000,69.00000,889.00000,0.14440,9260.00000,205303.00000,74109.00000,0.01038,2.00000,0.21739,0.43206,3.40306,0.00000,5.66738
50%,9.16667,29.00000,61.00000,399.65000,200.00000,1265.00000,0.39673,42734.00000,1252890.00000,546694.00000,0.04401,5.33000,0.31957,0.60345,11.42352,0.02078,21.37959
75%,13.16667,42.00000,109.00000,623.62000,548.00000,1816.00000,1.05364,125163.50000,4673634.00000,2400290.00000,0.11553,13.33000,0.42961,0.73753,18.44865,0.81640,88.93644
max,20.00000,78.00000,840.00000,1207.00000,266101.00000,55407.00000,12325.66667,1220602.00000,19318471.00000,9159786.00000,1.00000,973.67000,1.00000,1.00000,143.91645,107.98767,64323.96160

In [10]:

print(new['D3APO'].max() - new['D3APO'].min())

143.9164521

In [11]:
pd.set_option('display.float_format', '{:.5f}'.format)

(new.max() - new.min())

NatWalkInd         19.00000
STATEFP            77.00000
COUNTYFP          839.00000
D4A              1207.00000
TotEmp         266101.00000
TotPop          55407.00000
D2A_JPHH        12325.66667
D5AR          1220602.00000
CBSA_POP     19318471.00000
CBSA_EMP      9159786.00000
Pct_AO0             1.00000
D4C               973.34000
Pct_AO1             1.00000
Pct_AO2p            1.00000
D3APO             143.91645
D3AAO             107.98767
D4D             64323.96156
dtype: float64

In [12]:
new['D3APO']

0        12.87962
1        19.27875
2         5.47071
3        20.64623
4        16.59292
           ...
220735   33.94814
220736   39.67516
220737   32.11145
220738   14.31726
220739   24.80910
Name: D3APO, Length: 220740, dtype: float64

In [13]:
new[['STATEFP','COUNTYFP']] = new[['STATEFP','COUNTYFP']].astype(str)

In [14]:
new[['CBSA_POP','CBSA_EMP']].describe()

            CBSA_POP      CBSA_EMP
count   220740.00000  220740.00000
mean   3607329.47015 1683333.67430
std    5219924.79427 2478565.94003
min          0.00000       0.00000
25%     205303.00000   74109.00000
50%    1252890.00000  546694.00000
75%    4673634.00000 2400290.00000
max   19318471.00000 9159786.00000

In [15]:
new.loc[:, 'STATEFP'] = new['STATEFP'].apply(lambda x: str(x).zfill(2))
new.loc[:, 'COUNTYFP'] = new['COUNTYFP'].apply(lambda x: str(x).zfill(3))
new['COUNTY_NAME'] = new['STATEFP'] + new['COUNTYFP']

In [16]:
new

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D,COUNTY_NAME
0,14.00000,48,113,362.10000,66,1202,0.15603,433601,7189384,3545715,0.16312,4.33000,0.09220,0.74468,12.87962,0.00000,37.65472,48113
1,10.83333,48,113,718.84000,25,710,0.06112,386504,7189384,3545715,0.00000,4.33000,0.41076,0.58924,19.27875,0.75514,23.12611,48113
2,8.33333,48,113,398.31000,0,737,0.00000,404573,7189384,3545715,0.05775,3.00000,0.43465,0.50760,5.47071,6.12837,72.81815,48113
3,15.66667,48,113,386.24000,253,904,0.65885,423099,7189384,3545715,0.00000,6.67000,0.11198,0.88802,20.64623,2.20859,35.85398,48113
4,10.16667,48,113,638.37000,32,948,0.09329,335700,7189384,3545715,0.01458,6.67000,0.19534,0.79009,16.59292,2.28966,25.12134,48113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,7.33333,78,030,NaN,0,1471,0.00000,0,0,0,0.00000,NaN,0.00000,0.00000,33.94814,0.00000,NaN,78030
220736,7.33333,78,030,NaN,0,940,0.00000,0,0,0,0.00000,NaN,0.00000,0.00000,39.67516,0.00000,NaN,78030
220737,7.33333,78,030,NaN,0,878,0.00000,0,0,0,0.00000,NaN,0.00000,0.00000,32.11145,0.00000,NaN,78030
220738,4.00000,78,030,NaN,0,1278,0.00000,0,0,0,0.00000,NaN,0.00000,0.00000,14.31726,0.00000,NaN,78030
220739,4.66667,78,030,NaN,0,1640,0.00000,0,0,0,0.00000,NaN,0.00000,0.00000,24.80910,0.00000,NaN,78030

In [17]:
my_list = []
with open('fips.txt', 'r') as file:
    for line in file:
        # Process each line as needed
        counties = line.strip().split(maxsplit = 1)
        my_list.append(counties)

In [18]:
texas_california_ny = new.loc[(new['STATEFP'] == '48') | (new['STATEFP'] == '06') | (new['STATEFP'] == '36')]
texas_california_ny["FIPS"] = texas_california_ny['STATEFP'] + texas_california_ny['COUNTYFP']

/var/folders/rv/0q6lgvm90d18dy_bd145ywlh0000gn/T/ipykernel_8326/4215746405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_california_ny["FIPS"] = texas_california_ny['STATEFP'] + texas_california_ny['COUNTYFP']

In [19]:
# Create a mapping dictionary
mapping_dict = dict(my_list)

# Use map to replace values in 'COUNTY_NAME' column
texas_california_ny['COUNTY_NAME'] = texas_california_ny['COUNTY_NAME'].map(mapping_dict).fillna(texas_california_ny['COUNTY_NAME'])

/var/folders/rv/0q6lgvm90d18dy_bd145ywlh0000gn/T/ipykernel_8326/843936551.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  texas_california_ny['COUNTY_NAME'] = texas_california_ny['COUNTY_NAME'].map(mapping_dict).fillna(texas_california_ny['COUNTY_NAME'])

In [20]:


texas_california_ny.dtypes
texas_california_ny

,NatWalkInd,STATEFP,COUNTYFP,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D,COUNTY_NAME,FIPS
0,14.00000,48,113,362.10000,66,1202,0.15603,433601,7189384,3545715,0.16312,4.33000,0.09220,0.74468,12.87962,0.00000,37.65472,Dallas County,48113
1,10.83333,48,113,718.84000,25,710,0.06112,386504,7189384,3545715,0.00000,4.33000,0.41076,0.58924,19.27875,0.75514,23.12611,Dallas County,48113
2,8.33333,48,113,398.31000,0,737,0.00000,404573,7189384,3545715,0.05775,3.00000,0.43465,0.50760,5.47071,6.12837,72.81815,Dallas County,48113
3,15.66667,48,113,386.24000,253,904,0.65885,423099,7189384,3545715,0.00000,6.67000,0.11198,0.88802,20.64623,2.20859,35.85398,Dallas County,48113
4,10.16667,48,113,638.37000,32,948,0.09329,335700,7189384,3545715,0.01458,6.67000,0.19534,0.79009,16.59292,2.28966,25.12134,Dallas County,48113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164291,18.16667,36,119,477.44000,1238,1256,2.60084,358039,19318471,9159786,0.09244,31.67000,0.43067,0.47689,27.26408,0.00000,170.24241,Westchester County,36119
164292,16.00000,36,119,337.96000,257,925,0.49140,393919,19318471,9159786,0.17782,14.00000,0.43977,0.38241,24.11331,0.00000,148.22397,Westchester County,36119
164293,17.66667,36,119,193.12000,706,2070,0.96580,497627,19318471,9159786,0.23803,15.33000,0.35021,0.41176,21.34615,4.68162,108.97534,Westchester County,36119
164294,14.33333,36,119,193.12000,141,1077,0.35787,427070,19318471,9159786,0.22081,9.33000,0.58122,0.19797,17.58594,0.00000,174.01626,Westchester County,36119
164295,13.66667,36,119,127.41000,1047,1946,2.33705,375999,19318471,9159786,0.21652,8.67000,0.39509,0.38839,10.17892,4.43442,30.29088,Westchester County,36119

In [21]:
texas_california_ny = texas_california_ny.drop(columns = ['COUNTYFP'])
#texas_california_ny['STATE_NAME'] = np.where(texas_california['STATEFP'] == '48', 'Texas', 'California')

texas_california_ny.loc[(texas_california_ny['STATEFP'] == '48', 'STATE_NAME') ]= 'Texas'
texas_california_ny.loc[(texas_california_ny['STATEFP'] == '36', 'STATE_NAME') ]= 'New York'
texas_california_ny.loc[(texas_california_ny['STATEFP'] == '06', 'STATE_NAME') ]= 'California'
texas_california_ny = texas_california_ny.drop(columns = ['STATEFP'])
texas_california_ny

,NatWalkInd,D4A,TotEmp,TotPop,D2A_JPHH,D5AR,CBSA_POP,CBSA_EMP,Pct_AO0,D4C,Pct_AO1,Pct_AO2p,D3APO,D3AAO,D4D,COUNTY_NAME,FIPS,STATE_NAME
0,14.00000,362.10000,66,1202,0.15603,433601,7189384,3545715,0.16312,4.33000,0.09220,0.74468,12.87962,0.00000,37.65472,Dallas County,48113,Texas
1,10.83333,718.84000,25,710,0.06112,386504,7189384,3545715,0.00000,4.33000,0.41076,0.58924,19.27875,0.75514,23.12611,Dallas County,48113,Texas
2,8.33333,398.31000,0,737,0.00000,404573,7189384,3545715,0.05775,3.00000,0.43465,0.50760,5.47071,6.12837,72.81815,Dallas County,48113,Texas
3,15.66667,386.24000,253,904,0.65885,423099,7189384,3545715,0.00000,6.67000,0.11198,0.88802,20.64623,2.20859,35.85398,Dallas County,48113,Texas
4,10.16667,638.37000,32,948,0.09329,335700,7189384,3545715,0.01458,6.67000,0.19534,0.79009,16.59292,2.28966,25.12134,Dallas County,48113,Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164291,18.16667,477.44000,1238,1256,2.60084,358039,19318471,9159786,0.09244,31.67000,0.43067,0.47689,27.26408,0.00000,170.24241,Westchester County,36119,New York
164292,16.00000,337.96000,257,925,0.49140,393919,19318471,9159786,0.17782,14.00000,0.43977,0.38241,24.11331,0.00000,148.22397,Westchester County,36119,New York
164293,17.66667,193.12000,706,2070,0.96580,497627,19318471,9159786,0.23803,15.33000,0.35021,0.41176,21.34615,4.68162,108.97534,Westchester County,36119,New York
164294,14.33333,193.12000,141,1077,0.35787,427070,19318471,9159786,0.22081,9.33000,0.58122,0.19797,17.58594,0.00000,174.01626,Westchester County,36119,New York
164295,13.66667,127.41000,1047,1946,2.33705,375999,19318471,9159786,0.21652,8.67000,0.39509,0.38839,10.17892,4.43442,30.29088,Westchester County,36119,New York

In [30]:
grouped = texas_california_ny.groupby(['COUNTY_NAME', 'STATE_NAME', 'FIPS']).mean().reset_index()
new = grouped.loc[grouped['STATE_NAME'] == 'Texas']

In [23]:
grouped.to_csv('grouped.csv')